@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #9c4e4e, #e6cbcb);
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

.container h1 {
    font-size: 36px;
    margin: -10px 0;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

form {
    width: 100%;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #9c4e4e;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: right 0.6s ease-in-out 1.2s, visibility 0s linear 1s;
}

.container.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.6s ease-in-out, visibility 0s linear 0.6s;
}

.form-box.login {
    right: 0;
}

.container.active .form-box.login {
    left: -100%;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.container.active .form-box.register {
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid #9c4e4e;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    font-size: 16px;
    background: #eee;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 20px;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #9c4e4e;
}

.btn {
    width: 100%;
    height: 48px;
    background: #9c4e4e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right, #9c4e4e, #9c4e4e);
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 1;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
    left: 50%;
    transition-delay: 0.6s;
    opacity: 0;
    pointer-events: none;
}

.toggle-panel.toggle-right {
    left: 100%;
    transition-delay: 0.6s;
}

.container.active .toggle-panel.toggle-right {
    left: 50%;
    transition-delay: 1.2s;
    opacity: 1;
    pointer-events: auto;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #ffffff;
    box-shadow: none;
}
