@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #dc8c74;
    --black: #090909;
    --bg: #090909;
    --border: .1rem solid rgba(2255,225,225,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.header{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo{
    font-size: 2.5rem;
    color: #a24646;
    font-weight: bolder;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

header .icons div{
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
}

header .icons div:hover{
    color: var(--main-color);
}

#menu-bar{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

header .search-form input{
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    border-radius: .5rem;
    border: var(--border);
}